@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #fef3c7;
  color: #000000;
}

::-moz-selection {
  background-color: #fef3c7;
  color: #000000;
}
